<?xml version="1.0" ?>
<xsl:stylesheet version="1.0"
                xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
  <xsl:output omit-xml-declaration="yes" indent="yes"/>
  <xsl:template match="node()|@*">
     <xsl:copy>
       <xsl:apply-templates select="node()|@*"/>
     </xsl:copy>
  </xsl:template>


  %{ for network in ovs_networks ~}
  <!-- terraform-libvirt provider doesn't support virtualport, so we need to inject it -->
  <xsl:template match="/domain/devices/interface[@type='network']/source[@network='${network}']">
      <xsl:copy-of select="."/>
      <xsl:element name="virtualport">
          <xsl:attribute name="type">openvswitch</xsl:attribute>
      </xsl:element>
  </xsl:template>
  %{ endfor ~}

</xsl:stylesheet>
